Esta resposta não é útil
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio</title>
</head>

<body>
    <script>
       
        //Complementando o raciocínio citado a cima. Usa um Template strings ${}
        

        var n = prompt('Digite um número ');
        var resultado = n % 2 ===0? 'par':'impar'; //função ternária é bem básica
            alert(`número ${n} é ${resultado}`); // a propriedade do alert está entre crase.

    </script>
</body>

</html>